:root{
    --text-color-white: ;
    --background-color: #FBFBFB;
    --fill-menu-svg: #3C322D;
    // --background-color-dark: #2F303A;
    // --backgraund-portfolio: 1px solid #EEEEEE;
    // --background-color-grey: #F5F4FA;
    // --active-color-blue : #2196F3;
    // --title-color: #212121;
    // --text-color-grey: #757575;
    // --button-active-back-color: #188CE8;
    // --rgba-color: rgba(255, 255, 255, 0.6);
    // --dackground-image: #C4C4C4;
    // --icon-color: #AFB1B8;
}